a{
  text-decoration: none;
  color: inherit;
}

body{
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.bgindex {
  background-image: linear-gradient(to bottom,white, #bbdefb, #64b5f6, #2196f3);
  position: absolute;
  height: 102vh;
  width: 100vw;
  animation: waveshift;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes waveshift {
  0% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(-2vh)
  }
  100% {
    transform: translateY(0)
  }
}

.introcall{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 57%;
  font-family: 'courier-prime', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
  cursor: text;

  animation: emerge;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.enterbutton{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 85%;
  font-family: 'courier-prime', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
  opacity: 0%;

  animation: emerge;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.lizzybutton{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 85%;
  font-family: 'courier-prime', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
}

introbutton .lizzybutton {
  display: none;
}

introbutton:hover .enterbutton {
  display: none;
}

introbutton:hover .lizzybutton {
  display: inline;
}

.circle {
  display: inline-block;
  width: 30vw;
  height: 30vw;
  border-radius: 100%;
  top: 20vh;
  animation: waves;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes waves {
  0% {
      opacity: 0%;
      cursor: default;
  }
  50% {
      opacity: 30%;
      cursor: crosshair;
  }
  100% {
      opacity: 0%;
      cursor: default;
  }
}

@media screen and (max-width: 1024px) {
  .circle {
    display: block;
    width: 35vh;
    height: 35vh;
  }
  .leftside1 {
    top: 15vh;
    left: 32.5vw;
  }
  .rightside1 {
    top: 50vh;
    left: 32.5vw;
  }
  .leftside2 {
    left: 32.5vw;
    top: 15vh;
    animation: lefttide;
  }
  .rightside2 {
    left: 32.5vw;
    top: 50vh;
    animation: righttide;
  }
  .maybutton{
    top: 90vh;
  }
  .probbutton{
    top: 90vh;
  } 
  .yesbutton{
    top: 90vh;
  }
  .havebutton{
    top: 90vh;
  }
  .needbutton{
    top: 90vh;
  }
  .leftside6 {
    left: 32.5vw;
    top: 32.5vh;
    background-color: #fff9c4;
    animation: sunup;
  }
  .rightside6 {
    left: 32.5vw;
    top: 32.5vh;
    background-color: #fff9c4;
    animation: sundown;
  }
}

.leftside1 {
  position: fixed;
  left: 20vw;
  background-image: linear-gradient(to bottom,white, #bbdefb, #64b5f6, #2196f3);
}

.rightside1 {
  position: fixed;
  right: 20vw;
  background-image: linear-gradient(to bottom,white, #bbdefb, #64b5f6, #2196f3);
}

.leftside2 {
  position: fixed;
  left: 17.5vw;
  background-image: linear-gradient(to bottom,white, #bbdefb, #64b5f6, #2196f3);
  z-index: 1;
  animation: hightide;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.rightside2 {
  position: fixed;
  right: 17.5vw;
  background-image: linear-gradient(to bottom,white, #bbdefb, #64b5f6, #2196f3);
  z-index: 1;
  animation: lowtide;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes hightide {
  0% {
      left: 17.5vw;
      opacity: 0%;
      cursor: default;
  }
  10% {
      opacity: 40%;
      cursor: crosshair;
  }
  20% {
      opacity: 0%;
      cursor: default;
  }
  30% {
      opacity: 40%;
      cursor: crosshair;
  }
  40% {
      opacity: 0%;
      cursor: default;
  }
  50% {
      opacity: 40%;
      cursor: crosshair;
  }
  60% {
      opacity: 0%;
      cursor: default;
  }
  70% {
      opacity: 40%;
      cursor: crosshair;
  }
  80% {
      opacity: 0%;
      cursor: default;
  }
  90% {
      opacity: 40%;
      cursor: crosshair;
  }
  100% {
      left: 12.5vw;
      opacity: 0%;
      cursor: default;
  }
}

@keyframes lowtide {
  0% {
      right: 17.5vw;
      opacity: 0%;
      cursor: default;
  }
  10% {
      opacity: 40%;
      cursor: crosshair;
  }
  20% {
      opacity: 0%;
      cursor: default;
  }
  30% {
      opacity: 40%;
      cursor: crosshair;
  }
  40% {
      opacity: 0%;
      cursor: default;
  }
  50% {
      opacity: 40%;
      cursor: crosshair;
  }
  60% {
      opacity: 0%;
      cursor: default;
  }
  70% {
      opacity: 40%;
      cursor: crosshair;
  }
  80% {
      opacity: 0%;
      cursor: default;
  }
  90% {
      opacity: 40%;
      cursor: crosshair;
  }
  100% {
      right: 12.5vw;
      opacity: 0%;
      cursor: default;
  }
}
@keyframes lefttide {
  0% {
      top: 15vh;
      opacity: 0%;
      cursor: default;
  }
  10% {
      opacity: 40%;
      cursor: crosshair;
  }
  20% {
      opacity: 0%;
      cursor: default;
  }
  30% {
      opacity: 40%;
      cursor: crosshair;
  }
  40% {
      opacity: 0%;
      cursor: default;
  }
  50% {
      opacity: 40%;
      cursor: crosshair;
  }
  60% {
      opacity: 0%;
      cursor: default;
  }
  70% {
      opacity: 40%;
      cursor: crosshair;
  }
  80% {
      opacity: 0%;
      cursor: default;
  }
  90% {
      opacity: 40%;
      cursor: crosshair;
  }
  100% {
      top: 5vh;
      opacity: 0%;
      cursor: default;
  }
}

@keyframes righttide {
  0% {
      top: 50vh;
      opacity: 0%;
      cursor: default;
  }
  10% {
      opacity: 40%;
      cursor: crosshair;
  }
  20% {
      opacity: 0%;
      cursor: default;
  }
  30% {
      opacity: 40%;
      cursor: crosshair;
  }
  40% {
      opacity: 0%;
      cursor: default;
  }
  50% {
      opacity: 40%;
      cursor: crosshair;
  }
  60% {
      opacity: 0%;
      cursor: default;
  }
  70% {
      opacity: 40%;
      cursor: crosshair;
  }
  80% {
      opacity: 0%;
      cursor: default;
  }
  90% {
      opacity: 40%;
      cursor: crosshair;
  }
  100% {
      top: 60vh;
      opacity: 0%;
      cursor: default;
  }
}

.leftside3 {
  position: fixed;
  left: 10vw;
  background-image: linear-gradient(to bottom,white, #bbdefb, #64b5f6, #2196f3);
  z-index: 1
}

.rightside3 {
  position: fixed;
  right: 10vw;
  background-image: linear-gradient(to bottom,white, #bbdefb, #64b5f6, #2196f3);
  z-index: 1
}

.leftside4 {
  position: fixed;
  left: 5vw;
  background-image: linear-gradient(to bottom,white, #bbdefb, #64b5f6, #2196f3);
}

.rightside4 {
  position: fixed;
  right: 5vw;
  background-image: linear-gradient(to bottom,white, #bbdefb, #64b5f6, #2196f3);
}

.permacircle {
  display: inline-block;
  width: 30vw;
  height: 30vw;
  border-radius: 100%;
  top: 20vh;
  animation: permawaves;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes permawaves {
  0% {
      opacity: 40%;
      cursor: crosshair;
  }
  50% {
      opacity: 60%;
      cursor: crosshair;
  }
  100% {
      opacity: 40%;
      cursor: crosshair;
  }
}

.leftside5 {
  position: fixed;
  left: 35vw;
  background-image: linear-gradient(to bottom,white, #fff9c4);
}

.rightside5 {
  position: fixed;
  right: 35vw;
  background-image: linear-gradient(to bottom,white, #fff9c4);
}

.leftside6 {
  position: fixed;
  left: 35vw;
  background-color: #fff9c4;
  animation: sunrise;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.rightside6 {
  position: fixed;
  right: 35vw;
  background-color: #fff9c4;
  animation: sunset;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes sunrise {
  0% {
    background-image: radial-gradient(white, #bbdefb, #64b5f6, #2196f3);
      opacity: 0%;
      cursor: default;
  }
  25% {
      opacity: 0%;
      cursor: default;
  }
  70%{
      left: 35vw;
      opacity: 50%;
      cursor: crosshair
  }
  100% {
    background-image: radial-gradient(white, #bbdefb, #64b5f6, #2196f3);
      left: 30vw;
      opacity: 0%;
      cursor: default;
  }
}

@keyframes sunset {
  0% {
    background-image: radial-gradient(white, #bbdefb, #64b5f6, #2196f3);
      opacity: 0%;
      cursor: default;
  }
  25% {
      opacity: 0%;
      cursor: default;
  }
  70%{
      right: 35vw;
      opacity: 50%;
      cursor: crosshair
  }
  100% {
    background-image: radial-gradient(white, #bbdefb, #64b5f6, #2196f3);
      right: 30vw;
      opacity: 0%;
      cursor: default;
  }
}
@keyframes sunup {
  0% {
      background-image: radial-gradient(white, #bbdefb, #64b5f6, #2196f3);
      opacity: 0%;
      cursor: default;
  }
  25% {
      opacity: 0%;
      cursor: default;
  }
  70%{
      top: 32.5vh;
      opacity: 50%;
      cursor: crosshair
  }
  100% {
      background-image: radial-gradient(white, #bbdefb, #64b5f6, #2196f3);
      top: 22.5vh;
      opacity: 0%;
      cursor: default;
  }
}

@keyframes sundown {
  0% {
      background-image: radial-gradient(white, #bbdefb, #64b5f6, #2196f3);
      opacity: 0%;
      cursor: default;
  }
  25% {
      opacity: 0%;
      cursor: default;
  }
  70%{
      top: 32.5vh;
      opacity: 50%;
      cursor: crosshair
  }
  100% {
      background-image: radial-gradient(white, #bbdefb, #64b5f6, #2196f3);
      top: 42.5vh;
      opacity: 0%;
      cursor: default;
  }
}

.normal{
  padding-left: 5%;
  padding-top: 3%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 500;
  cursor: default;
  z-index: 2;
}

.travel{
  padding-left: 5%;
  padding-top: 3%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 500;
  cursor: default;
  z-index: 2;
  color: #2196f3;
}


.sensebutton{
  display: inline-block;
  position: absolute;
  padding-top: 1%;
  left: 5%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 500;
  color: black;
}

.sensebutton:hover{
  color: #c0bb93;
  transition: color 0.5s ease-in-out
}

.leftbutton{
  display: inline-block;
  position: absolute;
  padding-top: 1%;
  left: 5.5%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 500;
  color: black;
}

.leftbutton:hover{
  color: #2196f3;
  transition: color 0.5s ease-in-out
}

.rightbutton{
  display: inline-block;
  position: absolute;
  padding-top: 1%;
  left: 17%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 500;
  color: black;
}

.rightbutton:hover{
  color: #2196f3;
  transition: color 0.5s ease-in-out;
}

.bgtravel {
  background-color: #fff9c4;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.travelbutton{
  display: inline-block;
  position: absolute;
  padding-top: 1%;
  left: 5%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 500;
  color: #2196f3;
  opacity: 0;

  animation:emerge;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.travelbutton:hover{
  color: black;
  transition: color 0.5s ease-in-out
}

.anyway1{
  position: absolute;
  left: 5%;
  top: 6%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 500;
  color: black;
  cursor: not-allowed;
  z-index: 2;

  animation: corrupt1;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.anyway2{
  position: absolute;
  left: 5%;
  top: 6%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 500;
  color: rgb(56,43,43);
  cursor: not-allowed;
  opacity: 0;
  z-index: 2;

  animation: corrupt2;
  animation-duration: 4s;
  animation-delay: 4s;
  transform-origin: 0 0;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.anyway3{
  position: absolute;
  left: 5%;
  top: 6%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 600;
  color: rgb(101,58,58);
  cursor: not-allowed;
  opacity: 0;
  z-index: 2;

  animation: corrupt3;
  animation-duration: 4s;
  animation-delay: 8s;
  transform-origin: 0 0;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.anyway4{
  position: absolute;
  left: 5%;
  top: 6%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 700;
  color: rgb(139,55,55);
  cursor: not-allowed;
  opacity: 0;
  z-index: 2;

  animation: corrupt4;
  animation-duration: 4s;
  animation-delay: 12s;
  transform-origin: 0 0;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.anyway5{
  position: absolute;
  left: 5%;
  top: 6%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 190%;
  font-weight: 500;
  color: rgb(171, 47, 47);
  cursor: not-allowed;
  opacity: 0;
  z-index: 2;

  animation: corrupt5;
  animation-duration: 4s;
  animation-delay: 16s;
  transform-origin: 0 0;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes corrupt1 {
  0% {
      color: black;
      opacity: 0%;
  }
  5% {
      color: black;
      opacity: 100%;
  } 
  50%{
      color: rgb(26, 23, 23);
  }
  99%{
      color: rgb(49, 39, 39);
      opacity: 100%;
}
  100% {
      color: rgb(49, 39, 39);
      opacity: 0%;
  }
}

@keyframes corrupt2 {
  0% {
      opacity: 0%;
      color: rgb(49, 39, 39);
      transform: scale(1,1);
  }
  5%{
      opacity: 100%;
      color: rgb(49, 39, 39);
      transform: scale(1,1);
  }
  50%{
      color: rgb(76, 52, 52);
      transform: scale(1.05,1);
  }
  95%{
      color: rgb(99, 55, 55);
      transform: scale(1.1,1);
      opacity: 100%;
}
  100% {
    color: rgb(99, 55, 55);
      transform: scale(1.1,1);
      opacity: 0%;
  }
}

@keyframes corrupt3 {
  0% {
      opacity: 0%;
      color: rgb(99, 55, 55);
      transform: scale(1.1,1);
  }
  5%{
      opacity: 100%;
      color: rgb(99, 55, 55);
      transform: scale(1.1,1);
  }
  50%{
      color: rgb(124, 59, 59);
      transform: scale(1.2,1);
  }
  95%{
      color: rgb(151, 52, 52);
      transform: scale(1.3,1);
      opacity: 100%;
}
  100% {
      color: rgb(151, 52, 52);
      transform: scale(1.3,1);
      opacity: 0%;
  }
}

@keyframes corrupt4 {
  0% {
      opacity: 0%;
      color: rgb(151, 52, 52);
      transform: scale(1.3,1);
  }
  5%{
      opacity: 100%;
      color: rgb(151, 52, 52);
      transform: scale(1.3,1);
  }
  50%{
      color: rgb(174, 46, 46);
      transform: scale(1.5,1.02);
  }
  95%{
      color: rgb(201, 33, 33);
      transform: scale(1.75,1.05);
      opacity: 100%;
}
  100% {
    color: rgb(201, 33, 33);
      transform: scale(1.75,1.05);
      opacity: 0%;
  }
}

@keyframes corrupt5 {
  0% {
      color: rgb(255, 0, 0);
      opacity: 0%;
  }
  5%{
      opacity: 100%;
      color: rgb(255, 0, 0);
  }
  50%{
      color: rgb(255, 0, 0);
  }
  95%{
      color: rgb(255, 0, 0);
      opacity: 100%;
}
  100% {
      color: rgb(255, 0, 0);
      opacity: 100%;
  }
}

.maybutton{
  position: absolute;
  top: 37%;
  left: 5%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 500;
  color: black;
  opacity: 0%;

  animation: emergebutton;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count:  1;
}

.probbutton{
  position: absolute;
  top: 42%;
  left: 5%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 500;
  color: rgb(76,52,52);
  opacity: 0%;

  animation: corrupt2;
  transform-origin: 0 0;
  animation-duration: 4s;
  animation-delay: 4s;
  animation-timing-function: linear;
  animation-iteration-count:  1;
}

.probbutton:hover{
  color: black;
  transition: color 0.5s ease-in-out;
}

.yesbutton{
  position: absolute;
  top: 47%;
  left: 5%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 600;
  color: rgb(124,59,59);
  opacity: 0%;

  animation: corrupt3;
  transform-origin: 0 0;
  animation-duration: 4s;
  animation-delay: 8s;
  animation-timing-function: linear;
  animation-iteration-count:  1;
}

.yesbutton:hover{
  color: black;
  transition: color 0.5s ease-in-out;
}

.havebutton{
  position: absolute;
  top: 52%;
  left: 5%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 700;
  color: rgb(174,46,46);
  opacity: 0%;
  transition: color 0.5s ease-in-out;

  animation: corrupt4;
  transform-origin: 0 0;
  animation-duration: 4s;
  animation-delay: 12s;
  animation-timing-function: linear;
  animation-iteration-count:  1;
}

.havebutton:hover{
  color: black;
}

.needbutton{
  position: absolute;
  top: 67%;
  left: 5%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 150%;
  font-weight: 800;
  color: rgb(255,0,0);
  opacity: 0%;
  transition: transform 0.5s ease-in-out;
  transform-origin: 0 0;

  animation: emerge;
  animation-duration: 0.2s;
  animation-delay: 16s;
  animation-timing-function: linear;
  animation-iteration-count:  1;
  animation-fill-mode: forwards;
}

.needbutton:hover{
  transform: scaleX(1.5);
  color: black;
}

@keyframes emergebutton {
  0% {
      opacity: 0%;
  }
  5% {
      opacity: 100%;
  } 
  95% {
      opacity: 100%;
  } 
  100% {
      opacity: 0%
  }
}

.canyoutitle{
  padding-left: 5%;
  padding-top: 3%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 800;
  cursor: default;
}

.canyougrid{
  display: grid;
  grid-template-columns: repeat(30, 2%);
  grid-template-rows: repeat(8, 15%);
  grid-auto-flow: column;
  padding-left: 5%;
  padding-top: 1%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 500;
  cursor: default;
}

.cyitem1{
  grid-row: 1;
  grid-column: 4/20;
}
.cyitem2{
  grid-row: 2;
  grid-column: 1/20;
}
.cyitem3{
  grid-row: 3;
  grid-column: 6/20;
}
.cyitem4{
  grid-row: 4;
  grid-column: 9/20;
}
.cyitem5{
  grid-row: 5;
  grid-column: 2/20;
}
.cyitem6{
  grid-row: 6;
  grid-column: 5/20;
}
.cyitem7{
  grid-row: 7;
  grid-column: 7/20;
}
.cyitem9{
  grid-row: 9;
  grid-column: 1/20;
}

.ycitem1{
  grid-row: 1;
  grid-column: 8/20;
  color: #2196f3;
}
.ycitem2{
  grid-row: 2;
  grid-column: 2/20;
  color: #2196f3;
}
.ycitem3{
  grid-row: 3;
  grid-column: 12/20;
  color: #2196f3;
}
.ycitem4{
  grid-row: 4;
  grid-column: 18/30;
  color: #2196f3;
}
.ycitem5{
  grid-row: 5;
  grid-column: 4/20;
  color: #2196f3;
}
.ycitem6{
  grid-row: 6;
  grid-column: 10/25;
  color: #2196f3;
}
.ycitem7{
  grid-row: 7;
  grid-column: 14/20;
  color: #2196f3;
}

.yhitem1{
  grid-row: 1;
  grid-column: 1/20;
  color: rgb(255,0,0);
}
.yhitem2{
  grid-row: 2;
  grid-column: 1/20;
  color: rgb(255,0,0);
}
.yhitem3{
  grid-row: 3;
  grid-column: 1/20;
  color: rgb(255,0,0);
}
.yhitem4{
  grid-row: 4;
  grid-column: 1/20;
  color: rgb(255,0,0);
}
.yhitem5{
  grid-row: 5;
  grid-column: 1/20;
  color: rgb(255,0,0);
}
.yhitem6{
  grid-row: 6;
  grid-column: 1/20;
  color: rgb(255,0,0);
}
.yhitem7{
  grid-row: 7;
  grid-column: 1/20;
  color: rgb(255,0,0);
}

.imfinegrid{
  display: grid;
  grid-template-columns: repeat(3, 18%);
  grid-template-rows: repeat(7, 15%);
  grid-auto-flow: column;
  padding-left: 5%;
  padding-top: 10%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 500;
  color: black;
  text-decoration-color: black;
  cursor: default;
}

.ifitem1:hover{color: #2196f3}
.ifitem2:hover{color: #2196f3}
.ifitem3:hover{color: #2196f3}
.ifitem4:hover{color: #2196f3}
.ifitem5:hover{color: #2196f3}
.ifitem6:hover{color: #2196f3}
.ifitem7:hover{color: #2196f3}

.ifitem1{
  grid-row: 1;
  grid-column: 1/1;
  color: black;
  cursor: pointer;  
  z-index: 2;
}
.ofitem1{
  grid-row: 1;
  grid-column: 1/1;
  color: #2196f3;
  z-index: 2;
}
.ifitem2{
  grid-row: 2;
  grid-column: 2/2;
  color: black;
  z-index: 2;
}
.ofitem2{
  grid-row: 2;
  grid-column: 2/2;
  color: #2196f3;
  z-index: 2;
}
.ifitem3{
  grid-row: 3;
  grid-column: 1/1;
  color: black;
  z-index: 2;
}
.ofitem3{
  grid-row: 3;
  grid-column: 1/1;
  color: #2196f3;
  z-index: 2;
}
.ifitem4{
  grid-row: 4;
  grid-column: 3/5;
  color: black;
  z-index: 2;
}
.ofitem4{
  grid-row: 4;
  grid-column: 3/5;
  color: #2196f3;
  z-index: 2;
}
.ifitem5{
  grid-row: 5;
  grid-column: 1/1;
  color: black;
  z-index: 2;
}
.ofitem5{
  grid-row: 5;
  grid-column: 1/1;
  color: #2196f3;
  z-index: 2;
}
.ifitem6{
  grid-row: 6;
  grid-column: 2/2;
  color: black;
  z-index: 2;
}
.ofitem6{
  grid-row: 6;
  grid-column: 2/2;
  color: #2196f3;
  z-index: 2;
}
.ifitem7{
  grid-row: 7;
  grid-column: 1/1;
  color: black;
  z-index: 2;
}
.ofitem7{
  grid-row: 7;
  grid-column: 1/1;
  color: #2196f3;  
  z-index: 2;
}

.hidebutton{
  display: inline-block;
  position: absolute;
  top: 62.5%;
  left: 62.5%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 500;
  color: black;
  z-index: 2;
}

.hidebutton:hover{
  color: rgb(255,0,0);
}

.notworktitle{
  padding-left: 15%;
  padding-top: 3%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 110%;
  font-weight: 800;
  cursor: default;
  animation: nwt;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count:  infinite;
}

@keyframes nwt {
  0% {
      transform: translateX(0vw)
  }
  9.524%{
      transform: translateX(-10vw)
  }
  59.524%{
      transform: translateX(42.5vw)
  }
  100% {
      transform: translateX(0vw)
  }
}

.notworkgrid{
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  padding-top: 3%;
  padding-left: 5%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 110%;
  font-weight: 500;
  cursor: default;
}

.nwitem1{
  grid-row: 1;
  grid-column: 15/20;
  animation: nw1;
  animation-duration: 17.5s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count:  infinite;
}

@keyframes nw1 {
  0% {
      transform: translateX(0vw)
  }
  5%{
      transform: translateX(7.5vw)
  }
  55%{
      transform: translateX(-67.5vw)
  }
  100% {
      transform: translateX(0vw)
  }
}

.nwitem3{
  grid-row: 3;
  grid-column: 12/15;
  animation: nw3;
  animation-duration: 15s;
  animation-delay: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count:  infinite;
}

@keyframes nw3 {
  0% {
      transform: translateX(0vw)
  }
  31.832%{
      transform: translateX(-52.5vw)
  }
  81.818%{
      transform: translateX(30vw)
  }
  100% {
      transform: translateX(0vw)
  }
}

.nwitem4{
  grid-row: 4;
  grid-column: 1/7;
  animation: nw4;
  animation-duration: 15s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count:  infinite;
}

@keyframes nw4 {
  0% {
      transform: translateX(0vw)
  }
  50%{
      transform: translateX(85vw)
  }
  100%{
      transform: translateX(0vw)
  }
}

.nwitem6{
  grid-row: 6;
  grid-column: 6/10;
  animation: nw6;
  animation-duration: 25s;
  animation-delay: 3s;
  animation-timing-function: linear;
  animation-iteration-count:  infinite;
}

@keyframes nw6 {
  0% {
      transform: translateX(0vw)
  }
  32.166%{
      transform: translateX(50.5vw)
  }
  78.662%{
      transform: translateX(-22.5vw)
  }
  82.166%{
      transform: translateX(-17vw)
  }
  85.669%{
      transform: translateX(-22.5vw)
}
  100% {
      transform: translateX(0vw)
  }
}

.nwitem6-2{
  grid-row: 6;
  grid-column: 10/13;
  animation: nw6-2;
  animation-duration: 25s;
  animation-delay: 3s;
  animation-timing-function: linear;
  animation-iteration-count:  infinite;
}

@keyframes nw6-2 {
  0% {
      transform: translateX(0vw)
  }
  28.662%{
      transform: translateX(45vw)
  }
  32.166%{
      transform: translateX(39.5vw)
  } 
  35.669%{
      transform: translateX(45vw)
  }
  82.166%{
      transform: translateX(-28vw)
  }
  100% {
      transform: translateX(0vw)
  }
}

.nwitem7{
  grid-row: 7;
  grid-column: 17/20;
  animation: nw7;
  animation-duration: 17.5s;
  animation-delay: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count:  infinite;
}

@keyframes nw7 {
  0% {
      transform: translateX(0vw)
  }
  3%{
      transform: translateX(5vw)
  }
  53%{
      transform: translateX(-77.5vw)
  }
  100% {
      transform: translateX(0vw)
  }
}

.nwitem8{
  grid-row: 8;
  grid-column: 18/20;
  animation: nw8;
  animation-duration: 17.5s;
  animation-delay: 4s;
  animation-timing-function: linear;
  animation-iteration-count:  infinite;
}

@keyframes nw8 {
  0% {
      transform: translateX(0vw)
  }
  1.5%{
      transform: translateX(2.5vw)
  }
  51.5%{
      transform: translateX(-80vw)
  }
  100% {
      transform: translateX(0vw)
  }
}

.nwitem10{
  grid-row: 10;
  grid-column: 5/12;
  animation: nw10;
  animation-duration: 12.5s;
  animation-delay: 5s;
  animation-timing-function: linear;
  animation-iteration-count:  infinite;
}

@keyframes nw10 {
  0% {
      transform: translateX(0vw)
  }
  19.231%{
      transform: translateX(12.5vw)
  }
  69.231%{
      transform: translateX(-20vw)
  }
  100% {
      transform: translateX(0vw)
  }
}

.nwitem10-2{
  grid-row: 10;
  grid-column: 13/19;
  animation: nw10-2;
  animation-duration: 12.5s;
  animation-delay: 5.95s;
  animation-timing-function: linear;
  animation-iteration-count:  infinite;
}

@keyframes nw10-2 {
  0% {
      transform: translateX(0vw)
  }
  11.538%{
      transform: translateX(-7.5vw)
  }
  61.538%{
      transform: translateX(25vw)
  }
  100% {
      transform: translateX(0vw)
  }
}

.nwitem14{
  grid-row: 14;
  grid-column: 4/6;
  animation: nw14;
  animation-duration: 20s;
  animation-delay: 7s;
  animation-timing-function: linear;
  animation-iteration-count:  infinite;
}

@keyframes nw14 {
  0% {
      transform: translateX(0vw)
  }
  21.429%{
      transform: translateX(-15vw)
  }
  71.429%{
      transform: translateX(27.5vw)
  }
  100% {
      transform: translateX(0vw)
  }
}
.nwitem14-2{
  grid-row: 14;
  grid-column: 7/12;
  animation: nw14-2;
  animation-duration: 20s;
  animation-delay: 7s;
  animation-timing-function: linear;
  animation-iteration-count:  infinite;
}

@keyframes nw14-2 {
  0% {
      transform: translateX(0vw)
  }
  21.429%{
      transform: translateX(-15vw)
  }
  71.429%{
      transform: translateX(27.5vw)
  }
  100% {
      transform: translateX(0vw)
  }
}
.nwitem14-3{
  grid-row: 14;
  grid-column: 14/17;
  animation: nw14-3;
  animation-duration: 20s;
  animation-delay: 7s;
  animation-timing-function: linear;
  animation-iteration-count:  infinite;
}

@keyframes nw14-3 {
  0% {
      transform: translateX(0vw)
  }
  21.429%{
      transform: translateX(-15vw)
  }
  71.429%{
      transform: translateX(27.5vw)
  }
  100% {
      transform: translateX(0vw)
  }
}

.nwitem17{
  grid-row: 17;
  grid-column: 2/8;
  animation: nw17;
  animation-duration: 17.5s;
  animation-delay: 8.5s;
  animation-timing-function: linear;
  animation-iteration-count:  infinite;
}

@keyframes nw17 {
  0% {
      transform: translateX(0vw)
  }
  3%{
      transform: translateX(-5vw)
  }
  53%{
      transform: translateX(77.5vw)
  }
  100% {
      transform: translateX(0vw)
  }
}

.nwitem19{
  grid-row: 19;
  grid-column: 11/15;
  animation: nw19;
  animation-duration: 15s;
  animation-delay: 9.5s;
  animation-timing-function: linear;
  animation-iteration-count:  infinite;
}

@keyframes nw19 {
  0% {
      transform: translateX(0vw)
  }
  20.588%{
      transform: translateX(35vw)
  }
  69.118%{
      transform: translateX(-47.5vw)
  }
  100% {
      transform: translateX(0vw)
  }
}

.nwitem20{
  grid-row: 20;
  grid-column: 16/20;
  animation: nw20;
  animation-duration: 15s;
  animation-delay: 10s;
  animation-timing-function: linear;
  animation-iteration-count:  infinite;
}

@keyframes nw20 {
  0% {
      transform: translateX(0vw)
  }
  8.571%{
      transform: translateX(15vw)
  }
  58.571%{
      transform: translateX(-72.5vw)
  }
  100% {
      transform: translateX(0vw)
  }
}

.notworkbutton{
  display: inline-block;
  padding-top: 1%;
  padding-left: 5%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 110%;
  font-weight: 500;
  color: black;
  animation: nwb;
  animation-duration: 60s;
  animation-delay: 12s;
  animation-timing-function: linear;
  animation-iteration-count:  infinite;
}

@keyframes nwb {
  0% {
      transform: translateX(0vw)
  }
  50%{
      transform: translateX(82.5vw)
  }
  100% {
      transform: translateX(0vw)
  }
}

.notworkbutton:hover{
  color: #64b5f6;
  transition: color 0.5s ease-in-out
}

.bghangup {
  background-image: linear-gradient(to bottom,white, #bbdefb, #64b5f6, #2196f3);
  position: absolute;
  height: 100vh;
  width: 100vw;
}

@keyframes calltype {
  0% {
      opacity: 0%;
  }
  0.01%{
      opacity: 100%;
  }
  99.99%{
      opacity: 100%;
  }
  100% {
      opacity: 0%;
  }
}

.call1{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 65%;
  font-family: 'courier', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
  opacity: 0;
  animation: calltype;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.call2{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 65%;
  font-family: 'courier', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
  opacity: 0;
  animation: calltype;
  animation-duration: 0.2s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.call3{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 65%;
  font-family: 'courier', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
  opacity: 0;
  animation: calltype;
  animation-duration: 0.2s;
  animation-delay: 2.2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.call4{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 65%;
  font-family: 'courier', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
  opacity: 0;
  animation: calltype;
  animation-duration: 1s;
  animation-delay: 2.4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.call5{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 65%;
  font-family: 'courier', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
  opacity: 0;
  animation: calltype;
  animation-duration: 1s;
  animation-delay: 3.4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.call6{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 65%;
  font-family: 'courier', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
  opacity: 0;
  animation: calltype;
  animation-duration: 0.4s;
  animation-delay: 4.4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.call7{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 65%;
  font-family: 'courier', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
  opacity: 0;
  animation: calltype;
  animation-duration: 1s;
  animation-delay: 4.8s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.call8{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 65%;
  font-family: 'courier', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
  opacity: 0;
  animation: calltype;
  animation-duration: 0.3s;
  animation-delay: 5.8s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.call9{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 65%;
  font-family: 'courier', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
  opacity: 0;
  animation: calltype;
  animation-duration: 0.1s;
  animation-delay: 6.1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.call10{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 65%;
  font-family: 'courier', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
  opacity: 0;
  animation: calltype;
  animation-duration: 0.3s;
  animation-delay: 6.2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.call11{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 65%;
  font-family: 'courier', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
  opacity: 0;
  animation: calltype;
  animation-duration: 0.1s;
  animation-delay: 6.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.call12{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 65%;
  font-family: 'courier', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
  opacity: 0;
  animation: calltype;
  animation-duration: 0.1s;
  animation-delay: 6.6s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.finalcall{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 65%;
  font-family: 'courier', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
  opacity: 0;
  animation: callendtype;
  animation-duration: 0.3s;
  animation-delay: 6.7s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes callendtype {
  0% {
      opacity: 0%;
  }
  0.01%{
      opacity: 100%;
  }
  100% {
      opacity: 100%;
  }
}

.hangupbutton{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 82%;
  font-family: 'courier', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
  opacity: 0%;

  animation: emerge;
  animation-duration: 3s;
  animation-delay: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.hangupbutton:hover{
  color: red;
  font-weight: 700;
  transition: all 1.5s ease-in-out;
}

.bgloved {
  background: rgb(0, 0, 0);
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.bgandrew {
  background: linear-gradient(to bottom,white, #fff9c4);
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.lovedhim{
  padding-left: 5%;
  padding-top: 3%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 500;
  color: white;
  cursor: default;
}

.leftlovebutton{
  display: inline-block;
  position: absolute;
  top: 85%;
  left: 5.5%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 500;
  color: white;
}

.leftlovebutton:hover{
  color: #fff9c4;
  transition: color 0.75s ease-in-out;
}

.rightlovebutton{
  display: inline-block;
  position: absolute;
  top: 85%;
  left: 27%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 500;
  color: white;
}

.rightlovebutton:hover{
  color: #fff9c4;
  transition: color 0.75s ease-in-out;
}

.andrew1{
  padding-left: 5%;
  padding-top: 3%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 500;
  color: rgb(110, 110, 110);
  cursor: default;

  animation: emerge;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.andrew2{
  padding-left: 5%;
  padding-top: 0%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 500;
  color: rgb(110, 110, 110);
  opacity: 0%;
  cursor: default;

  animation: emerge;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.andrewdot{
  padding-left: 5%;
  padding-top: 0%;
  font-family: new-zen, serif;
  line-height: 1.47;
  font-size: 125%;
  font-weight: 500;
  color: rgb(110, 110, 110);
  opacity: 0%;

  animation: emerge;
  animation-duration: 1s;
  animation-delay: 4.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.andrewdot:hover{
  color: white;
  transition: color 0.75s ease-in-out;
}

@keyframes emerge {
  0% {
      opacity: 0%;
  }

  100% {
      opacity: 100%
  }
}