a{
  text-decoration: none;
}

.bgindex {
  background: linear-gradient(to bottom,white, lightcyan, skyblue, cornflowerblue);
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.introcall{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 57%;
  font-family: 'courier-prime', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
  cursor: default;
}

.lizzybutton{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 85%;
  font-family: 'courier-prime', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
}

.normal{
  padding-left: 5%;
  padding-top: 3%;
  font-family: baskerville-urw, serif;
  font-size: 125%;
  font-weight: 400;
  cursor: default;
}

.leftbutton{
  display: inline-block;
  position: absolute;
  padding-top: 1%;
  left: 5.5%;
  font-family: baskerville-urw, serif;
  font-size: 125%;
  font-weight: 400;
  color: black;
}

.rightbutton{
  display: inline-block;
  position: absolute;
  padding-top: 1%;
  left: 17%;
  font-family: baskerville-urw, serif;
  font-size: 125%;
  font-weight: 400;
  color: black;
}

.travelbutton{
  display: inline-block;
  position: absolute;
  padding-top: 1%;
  left: 5%;
  font-family: baskerville-urw, serif;
  font-size: 125%;
  font-weight: 400;
  color: black;

  animation:emerge;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.anyway{
  padding-left: 5%;
  padding-top: 3%;
  font-family: baskerville-urw, serif;
  font-size: 125%;
  font-weight: 400;
  color: black;
  cursor: not-allowed;

  animation:corrupt;
  animation-duration: 20s;
  transform-origin: 0 0;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes corrupt {
  0% {
      color: black;
      transform: scale(1,1) translateX(0px);
  }
  25%{
      color: rgb(103, 63, 63);
      transform: scale(1.25,1) translateX(125px);
  }
  50%{
      color: rgb(177, 50, 50);
      transform: scale(1.75,1) translateX(250px);
}
  100% {
      color: red;
      transform: scale(3,1) translateX(500px);
  }
}

.canyoutitle{
  padding-left: 5%;
  padding-top: 3%;
  font-family: baskerville-urw, serif;
  font-size: 125%;
  font-weight: 800;
  cursor: default;
}

.canyougrid{
  display: grid;
  grid-template-columns: repeat(20, 2%);
  grid-template-rows: repeat(8, 15%);
  padding-left: 5%;
  padding-top: 1%;
  font-family: baskerville-urw, serif;
  font-size: 125%;
  font-weight: 400;
  cursor: default;
}

.cyitem1{
  grid-row: 1;
  grid-column: 4/20;
}
.cyitem2{
  grid-row: 2;
  grid-column: 1/20;
}
.cyitem3{
  grid-row: 3;
  grid-column: 6/20;
}
.cyitem4{
  grid-row: 4;
  grid-column: 9/20;
}
.cyitem5{
  grid-row: 5;
  grid-column: 2/20;
}
.cyitem6{
  grid-row: 6;
  grid-column: 5/20;
}
.cyitem7{
  grid-row: 7;
  grid-column: 7/20;
}
.cyitem9{
  grid-row: 9;
  grid-column: 1/20;
}

.imfinegrid{
  display: grid;
  grid-template-columns: repeat(3, 18%);
  grid-template-rows: repeat(7, 15%);
  padding-left: 5%;
  padding-top: 10%;
  font-family: baskerville-urw, serif;
  font-size: 125%;
  font-weight: 400;
  color: black;
  cursor: default;
}

.ifitem1{
  grid-row: 1;
  grid-column: 1/2;
  color: black;
}
.ifitem2{
  grid-row: 2;
  grid-column: 2/3;
  color: black;
}
.ifitem3{
  grid-row: 3;
  grid-column: 1/2;
  color: black;
}
.ifitem4{
  grid-row: 4;
  grid-column: 3/5;
  color: black;
}
.ifitem5{
  grid-row: 5;
  grid-column: 1/2;
  color: black;
}
.ifitem6{
  grid-row: 6;
  grid-column: 2/3;
  color: black;
}
.ifitem7{
  grid-row: 7;
  grid-column: 1/2;
  color: black;
}

.hidebutton{
  display: inline-block;
  position: absolute;
  top: 62.5%;
  left: 62.5%;
  font-family: baskerville-urw, serif;
  font-size: 125%;
  font-weight: 400;
  color: black;
}

.notworktitle{
  padding-left: 15%;
  padding-top: 3%;
  font-family: baskerville-urw, serif;
  font-size: 110%;
  font-weight: 800;
  cursor: default;
}

.notworkgrid{
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  padding-top: 3%;
  padding-left: 5%;
  font-family: baskerville-urw, serif;
  font-size: 110%;
  font-weight: 400;
  cursor: default;
}

.nwitem1{
  grid-row: 1;
  grid-column: 15/20;
}

.nwitem3{
  grid-row: 3;
  grid-column: 12/15;
}

.nwitem4{
  grid-row: 4;
  grid-column: 1/7;
}

.nwitem6{
  grid-row: 6;
  grid-column: 6/10;
}

.nwitem6-2{
  grid-row: 6;
  grid-column: 10/13;
}

.nwitem7{
  grid-row: 7;
  grid-column: 17/20;
}

.nwitem8{
  grid-row: 8;
  grid-column: 18/20;
}

.nwitem10{
  grid-row: 10;
  grid-column: 5/12;
}
.nwitem10-2{
  grid-row: 10;
  grid-column: 13/19;
}

.nwitem14{
  grid-row: 14;
  grid-column: 4/6;
}
.nwitem14-2{
  grid-row: 14;
  grid-column: 7/12;
}
.nwitem14-3{
  grid-row: 14;
  grid-column: 14/17;
}

.nwitem17{
  grid-row: 17;
  grid-column: 2/8;
}

.nwitem19{
  grid-row: 19;
  grid-column: 11/15;
}

.nwitem20{
  grid-row: 20;
  grid-column: 16/20;
}

.notworkbutton{
  display: inline-block;
  padding-top: 1%;
  padding-left: 5%;
  font-family: baskerville-urw, serif;
  font-size: 110%;
  font-weight: 400;
  color: black;
}

.finalcall{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 65%;
  font-family: 'courier', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
  cursor: default;
}

.hangupbutton{
  position: absolute;
  text-align: center;
  width: 100vw;
  top: 82%;
  font-family: 'courier', monospace;
  font-size: 85%;
  font-weight: 400;
  color: white;
}

.bgloved {
  background: rgb(0, 0, 0);
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.bgandrew {
  background: linear-gradient(to bottom,white, lightyellow, rgb(255, 255, 178));
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.lovedhim{
  padding-left: 5%;
  padding-top: 3%;
  font-family: baskerville-urw, serif;
  font-size: 125%;
  font-weight: 400;
  color: white;
  cursor: default;
}

.leftlovebutton{
  display: inline-block;
  position: absolute;
  top: 82%;
  left: 5.5%;
  font-family: baskerville-urw, serif;
  font-size: 125%;
  font-weight: 400;
  color: white;
}

.rightlovebutton{
  display: inline-block;
  position: absolute;
  top: 82%;
  left: 17%;
  font-family: baskerville-urw, serif;
  font-size: 125%;
  font-weight: 400;
  color: white;
}

.andrew{
  padding-left: 5%;
  padding-top: 3%;
  font-family: baskerville-urw, serif;
  font-size: 125%;
  font-weight: 400;
  color: rgb(110, 110, 110);
  cursor: default;

  animation:emerge;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes emerge {
  0% {
      opacity: 0%;
  }

  100% {
      opacity: 100%
  }
}

.andrewdot{
  padding-left: 5%;
  padding-top: 0%;
  font-family: baskerville-urw, serif;
  font-size: 125%;
  font-weight: 400;
  color: rgb(110, 110, 110);

  animation:emergedot;
  animation-duration: 4.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes emergedot {
  0% {
      opacity: 0%;
  }
  80%{
      opacity: 0%;
  }
  100% {
      opacity: 100%
  }
}